ModelLibrary/Service References/AcctService/AccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCurrencySourceUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccessKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencySourceUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrencySourceUrlResult" type="tns:CurrencyRateConversionUrlInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CurrencyRateConversionUrlInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="URLs" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="IDs" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="Names" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Descriptions" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetConvertedCurrencyValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccessKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConvertedCurrencyValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConvertedCurrencyValueResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPaymentTermAccordingToCuntry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CountryID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="AccessKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPaymentTermAccordingToCuntryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPaymentTermAccordingToCuntryResult" type="tns:PaymentTerm" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PaymentTerm">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="SearchKey" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Active" type="tns:ArrayOfBoolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Default" type="tns:ArrayOfBoolean" />
          <s:element minOccurs="0" maxOccurs="1" name="FixedDueDate" type="tns:ArrayOfBoolean" />
          <s:element minOccurs="0" maxOccurs="1" name="AfterDelivery" type="tns:ArrayOfBoolean" />
          <s:element minOccurs="0" maxOccurs="1" name="NextBusinessDay" type="tns:ArrayOfBoolean" />
          <s:element minOccurs="0" maxOccurs="1" name="FixMonthDay" type="tns:ArrayOfInt1" />
          <s:element minOccurs="0" maxOccurs="1" name="FixMonthCutOff" type="tns:ArrayOfInt1" />
          <s:element minOccurs="0" maxOccurs="1" name="FixMonthOffset" type="tns:ArrayOfInt1" />
          <s:element minOccurs="0" maxOccurs="1" name="NetDays" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="NetDay" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="DiscountDay" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="DiscountDay2" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="DiscountPercentage" type="tns:ArrayOfDecimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DiscountPercentage2" type="tns:ArrayOfDecimal" />
          <s:element minOccurs="0" maxOccurs="1" name="GraceDay" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="DocNote" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBoolean">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="boolean" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDecimal">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="decimal" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTaxRate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CountryID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="AccessKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaxRateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTaxRateResult" type="tns:TaxMgmt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TaxMgmt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Active" type="tns:ArrayOfBoolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Default" type="tns:ArrayOfBoolean" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxCategoryID" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxCategory" type="tns:TaxCategory" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxExempt" type="tns:ArrayOfBoolean" />
          <s:element minOccurs="0" maxOccurs="1" name="RequiresTaxCertificate" type="tns:ArrayOfBoolean" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentLevel" type="tns:ArrayOfBoolean" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesTax" type="tns:ArrayOfBoolean" />
          <s:element minOccurs="0" maxOccurs="1" name="SummaryLevel" type="tns:ArrayOfBoolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Parent_Tax_ID" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="SOPOType" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Rate" type="tns:ArrayOfDecimal" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxIndicator" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="C_Country_ID" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="To_Country_ID" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="C_Region_ID" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="To_Region_ID" type="tns:ArrayOfInt" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TaxCategory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Active" type="tns:ArrayOfBoolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Default" type="tns:ArrayOfBoolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CommodityCode" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAccountingFileInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccessKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountingFileInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountingFileInfoResult" type="tns:AccountingFileInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AccountingFileInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:element name="DownloadAccountingFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccessKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadAccountingFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadAccountingFileResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCurrencySourceUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrencySourceUrl" />
  </wsdl:message>
  <wsdl:message name="GetCurrencySourceUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrencySourceUrlResponse" />
  </wsdl:message>
  <wsdl:message name="GetConvertedCurrencyValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetConvertedCurrencyValue" />
  </wsdl:message>
  <wsdl:message name="GetConvertedCurrencyValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetConvertedCurrencyValueResponse" />
  </wsdl:message>
  <wsdl:message name="GetPaymentTermAccordingToCuntrySoapIn">
    <wsdl:part name="parameters" element="tns:GetPaymentTermAccordingToCuntry" />
  </wsdl:message>
  <wsdl:message name="GetPaymentTermAccordingToCuntrySoapOut">
    <wsdl:part name="parameters" element="tns:GetPaymentTermAccordingToCuntryResponse" />
  </wsdl:message>
  <wsdl:message name="GetTaxRateSoapIn">
    <wsdl:part name="parameters" element="tns:GetTaxRate" />
  </wsdl:message>
  <wsdl:message name="GetTaxRateSoapOut">
    <wsdl:part name="parameters" element="tns:GetTaxRateResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountingFileInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountingFileInfo" />
  </wsdl:message>
  <wsdl:message name="GetAccountingFileInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountingFileInfoResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadAccountingFileSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadAccountingFile" />
  </wsdl:message>
  <wsdl:message name="DownloadAccountingFileSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadAccountingFileResponse" />
  </wsdl:message>
  <wsdl:portType name="AccountServiceSoap">
    <wsdl:operation name="GetCurrencySourceUrl">
      <wsdl:input message="tns:GetCurrencySourceUrlSoapIn" />
      <wsdl:output message="tns:GetCurrencySourceUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConvertedCurrencyValue">
      <wsdl:input message="tns:GetConvertedCurrencyValueSoapIn" />
      <wsdl:output message="tns:GetConvertedCurrencyValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentTermAccordingToCuntry">
      <wsdl:input message="tns:GetPaymentTermAccordingToCuntrySoapIn" />
      <wsdl:output message="tns:GetPaymentTermAccordingToCuntrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTaxRate">
      <wsdl:input message="tns:GetTaxRateSoapIn" />
      <wsdl:output message="tns:GetTaxRateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountingFileInfo">
      <wsdl:input message="tns:GetAccountingFileInfoSoapIn" />
      <wsdl:output message="tns:GetAccountingFileInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadAccountingFile">
      <wsdl:input message="tns:DownloadAccountingFileSoapIn" />
      <wsdl:output message="tns:DownloadAccountingFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountServiceSoap" type="tns:AccountServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrencySourceUrl">
      <soap:operation soapAction="http://tempuri.org/GetCurrencySourceUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConvertedCurrencyValue">
      <soap:operation soapAction="http://tempuri.org/GetConvertedCurrencyValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentTermAccordingToCuntry">
      <soap:operation soapAction="http://tempuri.org/GetPaymentTermAccordingToCuntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxRate">
      <soap:operation soapAction="http://tempuri.org/GetTaxRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountingFileInfo">
      <soap:operation soapAction="http://tempuri.org/GetAccountingFileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadAccountingFile">
      <soap:operation soapAction="http://tempuri.org/DownloadAccountingFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccountServiceSoap12" type="tns:AccountServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrencySourceUrl">
      <soap12:operation soapAction="http://tempuri.org/GetCurrencySourceUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConvertedCurrencyValue">
      <soap12:operation soapAction="http://tempuri.org/GetConvertedCurrencyValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentTermAccordingToCuntry">
      <soap12:operation soapAction="http://tempuri.org/GetPaymentTermAccordingToCuntry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxRate">
      <soap12:operation soapAction="http://tempuri.org/GetTaxRate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountingFileInfo">
      <soap12:operation soapAction="http://tempuri.org/GetAccountingFileInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadAccountingFile">
      <soap12:operation soapAction="http://tempuri.org/DownloadAccountingFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="AccountServiceSoap" binding="tns:AccountServiceSoap">
      <soap:address location="http://81.169.187.204:94/AccountService.asmx" />
    </wsdl:port>
    <wsdl:port name="AccountServiceSoap12" binding="tns:AccountServiceSoap12">
      <soap12:address location="http://81.169.187.204:94/AccountService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>