MarketSvc/Service References/MService/MService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CloudServiceProject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CloudServiceProject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/CloudService12/MService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfMarketModuleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MarketModuleInfo" nillable="true" type="tns:MarketModuleInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMarketModuleInfo" nillable="true" type="tns:ArrayOfMarketModuleInfo" />
  <xs:complexType name="MarketModuleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AD_Module_ID" type="xs:int" />
      <xs:element minOccurs="0" name="AccessLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ColNameValues" nillable="true" type="q1:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Images" nillable="true" type="q2:ArrayOfanyType" />
      <xs:element minOccurs="0" name="IsMSubsExpired" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPaidSubscription" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPaymentDone" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModuleDependency" nillable="true" type="tns:ArrayOfModuleDependencyInfo" />
      <xs:element minOccurs="0" name="ModuleEdition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prefix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
      <xs:element minOccurs="0" name="Translations" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VersionID" type="xs:int" />
      <xs:element minOccurs="0" name="VersionInfo" nillable="true" type="tns:ModuleVersionInfo" />
      <xs:element minOccurs="0" name="VersionNo" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Videos" nillable="true" type="q3:ArrayOfanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarketModuleInfo" nillable="true" type="tns:MarketModuleInfo" />
  <xs:complexType name="ArrayOfModuleDependencyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModuleDependencyInfo" nillable="true" type="tns:ModuleDependencyInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModuleDependencyInfo" nillable="true" type="tns:ArrayOfModuleDependencyInfo" />
  <xs:complexType name="ModuleDependencyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lable" type="xs:int" />
      <xs:element minOccurs="0" name="ModuleID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prefix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RootModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VersionNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModuleDependencyInfo" nillable="true" type="tns:ModuleDependencyInfo" />
  <xs:complexType name="ModuleVersionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModuleVersionInfo" nillable="true" type="tns:ModuleVersionInfo" />
  <xs:complexType name="ModuleContainer">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HostURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCloudMarket" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsKeyExpired" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsProfessionalEdition" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRegistered" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="SqlString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lstModuleInfo" nillable="true" type="tns:ArrayOfMarketModuleInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModuleContainer" nillable="true" type="tns:ModuleContainer" />
  <xs:complexType name="ModuleFolderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CacheKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentChunk" type="xs:int" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasMoreChunk" type="xs:boolean" />
      <xs:element minOccurs="0" name="ISError" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prefix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalChunks" type="xs:int" />
      <xs:element minOccurs="0" name="VersionNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModuleFolderInfo" nillable="true" type="tns:ModuleFolderInfo" />
  <xs:complexType name="ArrayOfGetCustomerModule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetCustomerModule" nillable="true" type="tns:GetCustomerModule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetCustomerModule" nillable="true" type="tns:ArrayOfGetCustomerModule" />
  <xs:complexType name="GetCustomerModule">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ad_Moduleinfo_id" type="xs:int" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Productdescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
      <xs:element minOccurs="0" name="ad_user_id" type="xs:int" />
      <xs:element minOccurs="0" name="devlopername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="enddate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ispaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_product_id" type="xs:int" />
      <xs:element minOccurs="0" name="moduledescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:int" />
      <xs:element minOccurs="0" name="productname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startdate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCustomerModule" nillable="true" type="tns:GetCustomerModule" />
  <xs:complexType name="ArrayOfGetModuleDescInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetModuleDescInfo" nillable="true" type="tns:GetModuleDescInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetModuleDescInfo" nillable="true" type="tns:ArrayOfGetModuleDescInfo" />
  <xs:complexType name="GetModuleDescInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="DEVELOPMENTSTATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DependencyInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeveloperName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Doc" nillable="true" type="tns:ArrayOfModuleAttachedDoc" />
      <xs:element minOccurs="0" name="ESTIMATEDDAY" type="xs:int" />
      <xs:element minOccurs="0" name="ESTIMATED_D_COST" type="xs:int" />
      <xs:element minOccurs="0" name="ESTIMATED_FS_COST" type="xs:int" />
      <xs:element minOccurs="0" name="Featured" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Free" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISPLANNED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallationProcess" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="M_Product_ID" type="xs:int" />
      <xs:element minOccurs="0" name="ModuleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Overview" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="RECEIVED_D_COST" type="xs:int" />
      <xs:element minOccurs="0" name="RECEIVED_FS_COST" type="xs:int" />
      <xs:element minOccurs="0" name="Termcond" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VersionId" type="xs:int" />
      <xs:element minOccurs="0" name="VersionNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="binarydatabytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="isproffree" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isprofpaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rating" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetModuleDescInfo" nillable="true" type="tns:GetModuleDescInfo" />
  <xs:complexType name="ArrayOfModuleAttachedDoc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModuleAttachedDoc" nillable="true" type="tns:ModuleAttachedDoc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModuleAttachedDoc" nillable="true" type="tns:ArrayOfModuleAttachedDoc" />
  <xs:complexType name="ModuleAttachedDoc">
    <xs:sequence>
      <xs:element minOccurs="0" name="Document" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModuleAttachedDoc" nillable="true" type="tns:ModuleAttachedDoc" />
  <xs:complexType name="ArrayOfGetModuleCatInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetModuleCatInfo" nillable="true" type="tns:GetModuleCatInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetModuleCatInfo" nillable="true" type="tns:ArrayOfGetModuleCatInfo" />
  <xs:complexType name="GetModuleCatInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ad_ModulCatID" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetModuleCatInfo" nillable="true" type="tns:GetModuleCatInfo" />
  <xs:complexType name="ArrayOfGetPlanedInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetPlanedInfo" nillable="true" type="tns:GetPlanedInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetPlanedInfo" nillable="true" type="tns:ArrayOfGetPlanedInfo" />
  <xs:complexType name="GetPlanedInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="DeveloperName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Developstatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Free" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Planned" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="binarydatabytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isfeatured" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isproffree" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isprofpaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rating" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPlanedInfo" nillable="true" type="tns:GetPlanedInfo" />
  <xs:complexType name="ArrayOfGetPaidInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetPaidInfo" nillable="true" type="tns:GetPaidInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetPaidInfo" nillable="true" type="tns:ArrayOfGetPaidInfo" />
  <xs:complexType name="GetPaidInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="DeveloperName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Free" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="binarydatabytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isfeatured" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isproffree" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isprofpaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rating" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPaidInfo" nillable="true" type="tns:GetPaidInfo" />
  <xs:complexType name="ArrayOfGetFreeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetFreeInfo" nillable="true" type="tns:GetFreeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetFreeInfo" nillable="true" type="tns:ArrayOfGetFreeInfo" />
  <xs:complexType name="GetFreeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="DeveloperName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Free" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="binarydatabytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isfeatured" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isproffree" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isprofpaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rating" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFreeInfo" nillable="true" type="tns:GetFreeInfo" />
  <xs:complexType name="ArrayOfGetFeaturedInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetFeaturedInfo" nillable="true" type="tns:GetFeaturedInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetFeaturedInfo" nillable="true" type="tns:ArrayOfGetFeaturedInfo" />
  <xs:complexType name="GetFeaturedInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="DeveloperName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevelopmentStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Featured" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Free" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPlanned" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="binarydatabytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isproffree" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isprofpaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rating" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFeaturedInfo" nillable="true" type="tns:GetFeaturedInfo" />
  <xs:complexType name="ArrayOfGetTopModuleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetTopModuleInfo" nillable="true" type="tns:GetTopModuleInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetTopModuleInfo" nillable="true" type="tns:ArrayOfGetTopModuleInfo" />
  <xs:complexType name="GetTopModuleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="DeveloperName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevelopmentStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Free" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPlanned" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="binarydatabytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isfeatured" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isproffree" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isprofpaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rating" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTopModuleInfo" nillable="true" type="tns:GetTopModuleInfo" />
  <xs:complexType name="ArrayOfGetCatModuleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetCatModuleInfo" nillable="true" type="tns:GetCatModuleInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetCatModuleInfo" nillable="true" type="tns:ArrayOfGetCatModuleInfo" />
  <xs:complexType name="GetCatModuleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeveloperName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevelopmentStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Featured" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Free" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallationProcess" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPlanned" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Overview" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="binarydatabytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="isproffree" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isprofpaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rating" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCatModuleInfo" nillable="true" type="tns:GetCatModuleInfo" />
  <xs:complexType name="ArrayOfGetSerachInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetSerachInfo" nillable="true" type="tns:GetSerachInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetSerachInfo" nillable="true" type="tns:ArrayOfGetSerachInfo" />
  <xs:complexType name="GetSerachInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="DEVELOPMENTSTATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeveloperName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Feature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Featured" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Free" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallProcess" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Planned" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="binarydatabytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isproffree" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isprofpaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rating" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetSerachInfo" nillable="true" type="tns:GetSerachInfo" />
  <xs:complexType name="ArrayOfGetReleasedFeatured">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetReleasedFeatured" nillable="true" type="tns:GetReleasedFeatured" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetReleasedFeatured" nillable="true" type="tns:ArrayOfGetReleasedFeatured" />
  <xs:complexType name="GetReleasedFeatured">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="DEVELOPMENTSTATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeveloperName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Feature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Featured" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Free" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallProcess" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Isfeatured" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Isreleased" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Planned" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="binarydatabytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isproffree" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isprofpaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rating" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetReleasedFeatured" nillable="true" type="tns:GetReleasedFeatured" />
  <xs:complexType name="ArrayOfGetReleasedNotFeatured">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetReleasedNotFeatured" nillable="true" type="tns:GetReleasedNotFeatured" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetReleasedNotFeatured" nillable="true" type="tns:ArrayOfGetReleasedNotFeatured" />
  <xs:complexType name="GetReleasedNotFeatured">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="DEVELOPMENTSTATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeveloperName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Feature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Featured" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Free" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallProcess" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Isfeatured" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Isreleased" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Planned" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="binarydatabytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isproffree" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isprofpaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rating" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetReleasedNotFeatured" nillable="true" type="tns:GetReleasedNotFeatured" />
  <xs:complexType name="ArrayOfModuleVersionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModuleVersionInfo" nillable="true" type="tns:ModuleVersionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModuleVersionInfo" nillable="true" type="tns:ArrayOfModuleVersionInfo" />
</xs:schema>