MarketSvc/Service References/MService/MService21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="VAdvantage" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="VAdvantage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="VAdvantage/Imports">
      <xsd:import schemaLocation="http://localhost/CloudService12/MService.svc?xsd=xsd0" namespace="VAdvantage" />
      <xsd:import schemaLocation="http://localhost/CloudService12/MService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/CloudService12/MService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CloudServiceProject" />
      <xsd:import schemaLocation="http://localhost/CloudService12/MService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMService_GetModules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModules" />
  </wsdl:message>
  <wsdl:message name="IMService_GetModules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModulesResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_GetModuleFromMarket_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleFromMarket" />
  </wsdl:message>
  <wsdl:message name="IMService_GetModuleFromMarket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleFromMarketResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_GetModuleData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleData" />
  </wsdl:message>
  <wsdl:message name="IMService_GetModuleData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_SubscribeModule_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeModule" />
  </wsdl:message>
  <wsdl:message name="IMService_SubscribeModule_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeModuleResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_UpdateSubscription_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSubscription" />
  </wsdl:message>
  <wsdl:message name="IMService_UpdateSubscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_GetVCustomerModules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVCustomerModules" />
  </wsdl:message>
  <wsdl:message name="IMService_GetVCustomerModules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVCustomerModulesResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_GetModuleDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleDescription" />
  </wsdl:message>
  <wsdl:message name="IMService_GetModuleDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_SetModuleReview_InputMessage">
    <wsdl:part name="parameters" element="tns:SetModuleReview" />
  </wsdl:message>
  <wsdl:message name="IMService_SetModuleReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetModuleReviewResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_GetModuleReviews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleReviews" />
  </wsdl:message>
  <wsdl:message name="IMService_GetModuleReviews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleReviewsResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_GetModuleCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleCategory" />
  </wsdl:message>
  <wsdl:message name="IMService_GetModuleCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_GetAllPlannedModules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlannedModules" />
  </wsdl:message>
  <wsdl:message name="IMService_GetAllPlannedModules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlannedModulesResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_GetAllPaidModules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPaidModules" />
  </wsdl:message>
  <wsdl:message name="IMService_GetAllPaidModules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPaidModulesResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_GetAllFreeModules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFreeModules" />
  </wsdl:message>
  <wsdl:message name="IMService_GetAllFreeModules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFreeModulesResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_GetAllFeaturedModules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFeaturedModules" />
  </wsdl:message>
  <wsdl:message name="IMService_GetAllFeaturedModules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFeaturedModulesResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_GetAllTopModules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTopModules" />
  </wsdl:message>
  <wsdl:message name="IMService_GetAllTopModules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTopModulesResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_GetCatagoryModule_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCatagoryModule" />
  </wsdl:message>
  <wsdl:message name="IMService_GetCatagoryModule_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCatagoryModuleResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_SearchModule_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchModule" />
  </wsdl:message>
  <wsdl:message name="IMService_SearchModule_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchModuleResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_GetModuleSubscriptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleSubscriptions" />
  </wsdl:message>
  <wsdl:message name="IMService_GetModuleSubscriptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleSubscriptionsResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_GetModuleImages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleImages" />
  </wsdl:message>
  <wsdl:message name="IMService_GetModuleImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleImagesResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_GetModuleReviewsCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleReviewsCount" />
  </wsdl:message>
  <wsdl:message name="IMService_GetModuleReviewsCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleReviewsCountResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_SetDonationPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDonationPayment" />
  </wsdl:message>
  <wsdl:message name="IMService_SetDonationPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDonationPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_SetPlannedModuleDonation_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPlannedModuleDonation" />
  </wsdl:message>
  <wsdl:message name="IMService_SetPlannedModuleDonation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPlannedModuleDonationResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_GetModulePayOption_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModulePayOption" />
  </wsdl:message>
  <wsdl:message name="IMService_GetModulePayOption_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModulePayOptionResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_IsEmailalreadyExist_InputMessage">
    <wsdl:part name="parameters" element="tns:IsEmailalreadyExist" />
  </wsdl:message>
  <wsdl:message name="IMService_IsEmailalreadyExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsEmailalreadyExistResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_IsUserAlreadyExist_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserAlreadyExist" />
  </wsdl:message>
  <wsdl:message name="IMService_IsUserAlreadyExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserAlreadyExistResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_IsCustomerModule_InputMessage">
    <wsdl:part name="parameters" element="tns:IsCustomerModule" />
  </wsdl:message>
  <wsdl:message name="IMService_IsCustomerModule_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsCustomerModuleResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_GetReleasedModules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReleasedModules" />
  </wsdl:message>
  <wsdl:message name="IMService_GetReleasedModules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReleasedModulesResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_GetPlannedModules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlannedModules" />
  </wsdl:message>
  <wsdl:message name="IMService_GetPlannedModules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlannedModulesResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_SetModulePayment_InputMessage">
    <wsdl:part name="parameters" element="tns:SetModulePayment" />
  </wsdl:message>
  <wsdl:message name="IMService_SetModulePayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetModulePaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_GetModuleCountCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleCountCategory" />
  </wsdl:message>
  <wsdl:message name="IMService_GetModuleCountCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleCountCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_PlannedSearchModule_InputMessage">
    <wsdl:part name="parameters" element="tns:PlannedSearchModule" />
  </wsdl:message>
  <wsdl:message name="IMService_PlannedSearchModule_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlannedSearchModuleResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_GetMarketModuleInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMarketModuleInfo" />
  </wsdl:message>
  <wsdl:message name="IMService_GetMarketModuleInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMarketModuleInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_UpdateModuleSubscription_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateModuleSubscription" />
  </wsdl:message>
  <wsdl:message name="IMService_UpdateModuleSubscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateModuleSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_GetModuleType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleType" />
  </wsdl:message>
  <wsdl:message name="IMService_GetModuleType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_DownloadFileChunk_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFileChunk" />
  </wsdl:message>
  <wsdl:message name="IMService_DownloadFileChunk_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFileChunkResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_GetMarketModuleInfoHTML_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMarketModuleInfoHTML" />
  </wsdl:message>
  <wsdl:message name="IMService_GetMarketModuleInfoHTML_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMarketModuleInfoHTMLResponse" />
  </wsdl:message>
  <wsdl:message name="IMService_GetModuleVersionHostory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleVersionHostory" />
  </wsdl:message>
  <wsdl:message name="IMService_GetModuleVersionHostory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleVersionHostoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IMService">
    <wsdl:operation name="GetModules">
      <wsdl:input wsaw:Action="VAdvantage/IMService/GetModules" message="tns:IMService_GetModules_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/GetModulesResponse" message="tns:IMService_GetModules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModuleFromMarket">
      <wsdl:input wsaw:Action="VAdvantage/IMService/GetModuleFromMarket" message="tns:IMService_GetModuleFromMarket_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/GetModuleFromMarketResponse" message="tns:IMService_GetModuleFromMarket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModuleData">
      <wsdl:input wsaw:Action="VAdvantage/IMService/GetModuleData" message="tns:IMService_GetModuleData_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/GetModuleDataResponse" message="tns:IMService_GetModuleData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeModule">
      <wsdl:input wsaw:Action="VAdvantage/IMService/SubscribeModule" message="tns:IMService_SubscribeModule_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/SubscribeModuleResponse" message="tns:IMService_SubscribeModule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSubscription">
      <wsdl:input wsaw:Action="VAdvantage/IMService/UpdateSubscription" message="tns:IMService_UpdateSubscription_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/UpdateSubscriptionResponse" message="tns:IMService_UpdateSubscription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVCustomerModules">
      <wsdl:input wsaw:Action="VAdvantage/IMService/GetVCustomerModules" message="tns:IMService_GetVCustomerModules_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/GetVCustomerModulesResponse" message="tns:IMService_GetVCustomerModules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModuleDescription">
      <wsdl:input wsaw:Action="VAdvantage/IMService/GetModuleDescription" message="tns:IMService_GetModuleDescription_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/GetModuleDescriptionResponse" message="tns:IMService_GetModuleDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetModuleReview">
      <wsdl:input wsaw:Action="VAdvantage/IMService/SetModuleReview" message="tns:IMService_SetModuleReview_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/SetModuleReviewResponse" message="tns:IMService_SetModuleReview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModuleReviews">
      <wsdl:input wsaw:Action="VAdvantage/IMService/GetModuleReviews" message="tns:IMService_GetModuleReviews_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/GetModuleReviewsResponse" message="tns:IMService_GetModuleReviews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModuleCategory">
      <wsdl:input wsaw:Action="VAdvantage/IMService/GetModuleCategory" message="tns:IMService_GetModuleCategory_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/GetModuleCategoryResponse" message="tns:IMService_GetModuleCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPlannedModules">
      <wsdl:input wsaw:Action="VAdvantage/IMService/GetAllPlannedModules" message="tns:IMService_GetAllPlannedModules_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/GetAllPlannedModulesResponse" message="tns:IMService_GetAllPlannedModules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPaidModules">
      <wsdl:input wsaw:Action="VAdvantage/IMService/GetAllPaidModules" message="tns:IMService_GetAllPaidModules_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/GetAllPaidModulesResponse" message="tns:IMService_GetAllPaidModules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFreeModules">
      <wsdl:input wsaw:Action="VAdvantage/IMService/GetAllFreeModules" message="tns:IMService_GetAllFreeModules_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/GetAllFreeModulesResponse" message="tns:IMService_GetAllFreeModules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFeaturedModules">
      <wsdl:input wsaw:Action="VAdvantage/IMService/GetAllFeaturedModules" message="tns:IMService_GetAllFeaturedModules_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/GetAllFeaturedModulesResponse" message="tns:IMService_GetAllFeaturedModules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTopModules">
      <wsdl:input wsaw:Action="VAdvantage/IMService/GetAllTopModules" message="tns:IMService_GetAllTopModules_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/GetAllTopModulesResponse" message="tns:IMService_GetAllTopModules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCatagoryModule">
      <wsdl:input wsaw:Action="VAdvantage/IMService/GetCatagoryModule" message="tns:IMService_GetCatagoryModule_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/GetCatagoryModuleResponse" message="tns:IMService_GetCatagoryModule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchModule">
      <wsdl:input wsaw:Action="VAdvantage/IMService/SearchModule" message="tns:IMService_SearchModule_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/SearchModuleResponse" message="tns:IMService_SearchModule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModuleSubscriptions">
      <wsdl:input wsaw:Action="VAdvantage/IMService/GetModuleSubscriptions" message="tns:IMService_GetModuleSubscriptions_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/GetModuleSubscriptionsResponse" message="tns:IMService_GetModuleSubscriptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModuleImages">
      <wsdl:input wsaw:Action="VAdvantage/IMService/GetModuleImages" message="tns:IMService_GetModuleImages_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/GetModuleImagesResponse" message="tns:IMService_GetModuleImages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModuleReviewsCount">
      <wsdl:input wsaw:Action="VAdvantage/IMService/GetModuleReviewsCount" message="tns:IMService_GetModuleReviewsCount_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/GetModuleReviewsCountResponse" message="tns:IMService_GetModuleReviewsCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDonationPayment">
      <wsdl:input wsaw:Action="VAdvantage/IMService/SetDonationPayment" message="tns:IMService_SetDonationPayment_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/SetDonationPaymentResponse" message="tns:IMService_SetDonationPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPlannedModuleDonation">
      <wsdl:input wsaw:Action="VAdvantage/IMService/SetPlannedModuleDonation" message="tns:IMService_SetPlannedModuleDonation_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/SetPlannedModuleDonationResponse" message="tns:IMService_SetPlannedModuleDonation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModulePayOption">
      <wsdl:input wsaw:Action="VAdvantage/IMService/GetModulePayOption" message="tns:IMService_GetModulePayOption_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/GetModulePayOptionResponse" message="tns:IMService_GetModulePayOption_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsEmailalreadyExist">
      <wsdl:input wsaw:Action="VAdvantage/IMService/IsEmailalreadyExist" message="tns:IMService_IsEmailalreadyExist_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/IsEmailalreadyExistResponse" message="tns:IMService_IsEmailalreadyExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUserAlreadyExist">
      <wsdl:input wsaw:Action="VAdvantage/IMService/IsUserAlreadyExist" message="tns:IMService_IsUserAlreadyExist_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/IsUserAlreadyExistResponse" message="tns:IMService_IsUserAlreadyExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsCustomerModule">
      <wsdl:input wsaw:Action="VAdvantage/IMService/IsCustomerModule" message="tns:IMService_IsCustomerModule_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/IsCustomerModuleResponse" message="tns:IMService_IsCustomerModule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReleasedModules">
      <wsdl:input wsaw:Action="VAdvantage/IMService/GetReleasedModules" message="tns:IMService_GetReleasedModules_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/GetReleasedModulesResponse" message="tns:IMService_GetReleasedModules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlannedModules">
      <wsdl:input wsaw:Action="VAdvantage/IMService/GetPlannedModules" message="tns:IMService_GetPlannedModules_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/GetPlannedModulesResponse" message="tns:IMService_GetPlannedModules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetModulePayment">
      <wsdl:input wsaw:Action="VAdvantage/IMService/SetModulePayment" message="tns:IMService_SetModulePayment_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/SetModulePaymentResponse" message="tns:IMService_SetModulePayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModuleCountCategory">
      <wsdl:input wsaw:Action="VAdvantage/IMService/GetModuleCountCategory" message="tns:IMService_GetModuleCountCategory_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/GetModuleCountCategoryResponse" message="tns:IMService_GetModuleCountCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlannedSearchModule">
      <wsdl:input wsaw:Action="VAdvantage/IMService/PlannedSearchModule" message="tns:IMService_PlannedSearchModule_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/PlannedSearchModuleResponse" message="tns:IMService_PlannedSearchModule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMarketModuleInfo">
      <wsdl:input wsaw:Action="VAdvantage/IMService/GetMarketModuleInfo" message="tns:IMService_GetMarketModuleInfo_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/GetMarketModuleInfoResponse" message="tns:IMService_GetMarketModuleInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateModuleSubscription">
      <wsdl:input wsaw:Action="VAdvantage/IMService/UpdateModuleSubscription" message="tns:IMService_UpdateModuleSubscription_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/UpdateModuleSubscriptionResponse" message="tns:IMService_UpdateModuleSubscription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModuleType">
      <wsdl:input wsaw:Action="VAdvantage/IMService/GetModuleType" message="tns:IMService_GetModuleType_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/GetModuleTypeResponse" message="tns:IMService_GetModuleType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFileChunk">
      <wsdl:input wsaw:Action="VAdvantage/IMService/DownloadFileChunk" message="tns:IMService_DownloadFileChunk_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/DownloadFileChunkResponse" message="tns:IMService_DownloadFileChunk_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMarketModuleInfoHTML">
      <wsdl:input wsaw:Action="VAdvantage/IMService/GetMarketModuleInfoHTML" message="tns:IMService_GetMarketModuleInfoHTML_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/GetMarketModuleInfoHTMLResponse" message="tns:IMService_GetMarketModuleInfoHTML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModuleVersionHostory">
      <wsdl:input wsaw:Action="VAdvantage/IMService/GetModuleVersionHostory" message="tns:IMService_GetModuleVersionHostory_InputMessage" />
      <wsdl:output wsaw:Action="VAdvantage/IMService/GetModuleVersionHostoryResponse" message="tns:IMService_GetModuleVersionHostory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>